USE [master]
GO
/****** Object:  Database [N5_PolyShoes]    Script Date: 10-Jan-2024 1:38:42 PM ******/
CREATE DATABASE [N5_PolyShoes]
GO
USE [N5_PolyShoes]
GO
/****** Object:  Table [dbo].[Co_Giay]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Co_Giay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Co_Giay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat_Lieu]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat_Lieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Chat_Lieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuc_Vu]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuc_Vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Chuc_Vu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Muc]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Muc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Danh_Muc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[De_Giay]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[De_Giay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_De_Giay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hinh_Anh]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hinh_Anh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSanPhamCT] [int] NULL,
	[URL] [varchar](max) NULL,
	[Cover] [bit] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Hinh_Anh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hinh_Thuc_TT]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hinh_Thuc_TT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHoaDon] [int] NULL,
	[IDThanhToan] [int] NULL,
	[MaThanhToan] [varchar](50) NULL,
	[GiaTriThanhToan] [money] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_HinhThucTT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNhanVien] [int] NULL,
	[IDKhachHang] [int] NULL,
	[MaHD] [varchar](10) NULL,
	[TenNguoiNhan] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgayThanhToan] [datetime] NULL,
	[PhiShip] [money] NULL,
	[TongTien] [money] NULL,
	[NgayShip] [datetime] NULL,
	[NgayNhan] [datetime] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
	[IDVoucher] [int] NULL,
 CONSTRAINT [PK_Hoa_Don] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_Don_Chi_Tiet]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don_Chi_Tiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSanPhamCT] [int] NULL,
	[IDHoaDon] [int] NULL,
	[Gia] [money] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Hoa_Don_Chi_Tiet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_Hang]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_Hang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[GioiTinh] [bit] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Khach_Hang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khuyen_Mai]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khuyen_Mai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[MoTa] [varchar](max) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Khuyen_Mai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khuyen_Mai_Chi_Tiet]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khuyen_Mai_Chi_Tiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSanPhamCT] [int] NULL,
	[IDKhuyenMai] [int] NULL,
	[SoTienGiam] [money] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Khuyen_Mai_Chi_Tiet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lich_Su_Hoa_Don]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lich_Su_Hoa_Don](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHoaDon] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[HanhDong] [int] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Lich_Su_Hoa_Don] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau_Sac]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau_Sac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Mau_Sac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_San_Xuat]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_San_Xuat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Nha_San_Xuat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhan_Vien]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhan_Vien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDChucVu] [int] NULL,
	[MaNV] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[CCCD] [varchar](12) NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[GioiTinh] [bit] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Nhan_Vien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_San_Pham_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham_Chi_Tiet]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham_Chi_Tiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDDanhMuc] [int] NULL,
	[IDXuatXu] [int] NULL,
	[IDNSX] [int] NULL,
	[IDMauSac] [int] NULL,
	[IDSize] [int] NULL,
	[IDSanPham] [int] NULL,
	[IDThuongHieu] [int] NULL,
	[IDChatLieu] [int] NULL,
	[IDDeGiay] [int] NULL,
	[IDCoGiay] [int] NULL,
	[Ma] [varchar](10) NULL,
	[KhoiLuong] [float] NULL,
	[Gia] [money] NULL,
	[SoLuongTon] [int] NULL,
	[TrangThai] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_San_Pham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Size] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thanh_Toan]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanh_Toan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HinhThuc] [bit] NULL,
	[MoTa] [nvarchar](max) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Thanh_Toan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuong_Hieu]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuong_Hieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Thuong_Hieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](max) NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[SoLuong] [int] NULL,
	[PhanTramGiam] [int] NULL,
	[GTToiThieu] [money] NULL,
	[GiamToiDa] [money] NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xuat_Xu]    Script Date: 10-Jan-2024 1:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xuat_Xu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [varchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Xuat_Xu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Co_Giay] ON 

INSERT [dbo].[Co_Giay] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-RMT7SZ6', N'Cổ cao', NULL, CAST(N'2023-12-06T09:28:01.737' AS DateTime), NULL, CAST(N'2023-12-06T09:28:01.737' AS DateTime), 0)
INSERT [dbo].[Co_Giay] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-7SGB3L6', N'Cổ thấp', NULL, CAST(N'2023-12-06T09:28:08.493' AS DateTime), NULL, CAST(N'2023-12-06T09:28:08.493' AS DateTime), 0)
INSERT [dbo].[Co_Giay] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-23ALWJ3', N'Cổ lỡ', NULL, CAST(N'2023-12-06T09:28:15.660' AS DateTime), NULL, CAST(N'2023-12-06T09:28:15.660' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Co_Giay] OFF
SET IDENTITY_INSERT [dbo].[Chat_Lieu] ON 

INSERT [dbo].[Chat_Lieu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-42Z58RU', N'Da bò', NULL, CAST(N'2023-12-06T09:20:45.097' AS DateTime), NULL, CAST(N'2023-12-06T09:20:45.097' AS DateTime), 0)
INSERT [dbo].[Chat_Lieu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-A2AMUYF', N'Da trâu', NULL, CAST(N'2023-12-06T09:20:50.157' AS DateTime), NULL, CAST(N'2023-12-06T09:20:50.157' AS DateTime), 0)
INSERT [dbo].[Chat_Lieu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-3RB3KF3', N'Vải thô', NULL, CAST(N'2023-12-06T09:21:01.713' AS DateTime), NULL, CAST(N'2023-12-06T09:21:01.713' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Chat_Lieu] OFF
SET IDENTITY_INSERT [dbo].[Chuc_Vu] ON 

INSERT [dbo].[Chuc_Vu] ([id], [Ma], [Ten], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (1, N'CV-001', N'Quản lý', CAST(N'2023-12-06T09:13:06.120' AS DateTime), NULL, CAST(N'2023-12-06T09:13:06.120' AS DateTime), NULL, 0)
INSERT [dbo].[Chuc_Vu] ([id], [Ma], [Ten], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (2, N'CV-002', N'Nhân viên', CAST(N'2023-12-11T09:39:33.910' AS DateTime), NULL, CAST(N'2023-12-11T09:39:33.910' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Chuc_Vu] OFF
SET IDENTITY_INSERT [dbo].[Danh_Muc] ON 

INSERT [dbo].[Danh_Muc] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-CBPUPE9', N'Sneaker', NULL, CAST(N'2023-12-06T09:19:31.830' AS DateTime), NULL, CAST(N'2023-12-06T09:19:31.830' AS DateTime), 0)
INSERT [dbo].[Danh_Muc] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-TGA166R', N'Thể thao', NULL, CAST(N'2023-12-06T09:19:44.040' AS DateTime), NULL, CAST(N'2023-12-06T09:19:44.040' AS DateTime), 0)
INSERT [dbo].[Danh_Muc] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-KYFGJDT', N'Phong cách Tây', NULL, CAST(N'2023-12-06T09:20:06.760' AS DateTime), NULL, CAST(N'2023-12-06T09:20:06.760' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Danh_Muc] OFF
SET IDENTITY_INSERT [dbo].[De_Giay] ON 

INSERT [dbo].[De_Giay] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-SLX1DA1', N'Đế cứng', NULL, CAST(N'2023-12-06T09:26:28.873' AS DateTime), NULL, CAST(N'2023-12-06T09:26:28.873' AS DateTime), 0)
INSERT [dbo].[De_Giay] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-8JE0QDU', N'Đế mềm', NULL, CAST(N'2023-12-06T09:26:34.260' AS DateTime), NULL, CAST(N'2023-12-06T09:26:34.260' AS DateTime), 0)
INSERT [dbo].[De_Giay] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-HB3UJ3X', N'Đế cao su', NULL, CAST(N'2023-12-06T09:26:41.350' AS DateTime), NULL, CAST(N'2023-12-06T09:26:41.350' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[De_Giay] OFF
SET IDENTITY_INSERT [dbo].[Hoa_Don] ON 

INSERT [dbo].[Hoa_Don] ([ID], [IDNhanVien], [IDKhachHang], [MaHD], [TenNguoiNhan], [SDT], [DiaChi], [NgayThanhToan], [PhiShip], [TongTien], [NgayShip], [NgayNhan], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted], [IDVoucher]) VALUES (2, 1, 1, N'HD-ZXVWC', NULL, NULL, NULL, CAST(N'2023-12-06T11:04:51.437' AS DateTime), NULL, 3020000.0000, NULL, NULL, 2, NULL, CAST(N'2023-12-06T11:04:51.437' AS DateTime), NULL, CAST(N'2023-12-06T11:04:51.437' AS DateTime), 1, NULL)
INSERT [dbo].[Hoa_Don] ([ID], [IDNhanVien], [IDKhachHang], [MaHD], [TenNguoiNhan], [SDT], [DiaChi], [NgayThanhToan], [PhiShip], [TongTien], [NgayShip], [NgayNhan], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted], [IDVoucher]) VALUES (3, 1, 1, N'HD-0K1AN', NULL, NULL, NULL, CAST(N'2023-12-06T11:15:02.420' AS DateTime), NULL, 790000.0000, NULL, NULL, 0, NULL, CAST(N'2023-12-06T11:15:02.420' AS DateTime), NULL, CAST(N'2023-12-06T11:15:02.420' AS DateTime), 0, NULL)
INSERT [dbo].[Hoa_Don] ([ID], [IDNhanVien], [IDKhachHang], [MaHD], [TenNguoiNhan], [SDT], [DiaChi], [NgayThanhToan], [PhiShip], [TongTien], [NgayShip], [NgayNhan], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted], [IDVoucher]) VALUES (4, 1, 1, N'HD-RM8CN', NULL, NULL, NULL, CAST(N'2023-12-06T12:47:48.950' AS DateTime), NULL, 120000.0000, NULL, NULL, 0, NULL, CAST(N'2023-12-06T12:47:48.950' AS DateTime), NULL, CAST(N'2023-12-06T12:47:48.950' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Hoa_Don] OFF
SET IDENTITY_INSERT [dbo].[Hoa_Don_Chi_Tiet] ON 

INSERT [dbo].[Hoa_Don_Chi_Tiet] ([ID], [IDSanPhamCT], [IDHoaDon], [Gia], [SoLuong], [ThanhTien], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, 7, 2, 120000.0000, -4, -480000.0000, NULL, NULL, CAST(N'2023-12-06T11:04:57.217' AS DateTime), NULL, CAST(N'2023-12-06T11:04:57.217' AS DateTime), 0)
INSERT [dbo].[Hoa_Don_Chi_Tiet] ([ID], [IDSanPhamCT], [IDHoaDon], [Gia], [SoLuong], [ThanhTien], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, 6, 2, 670000.0000, 0, 0.0000, NULL, NULL, CAST(N'2023-12-06T11:04:59.483' AS DateTime), NULL, CAST(N'2023-12-06T11:04:59.483' AS DateTime), 0)
INSERT [dbo].[Hoa_Don_Chi_Tiet] ([ID], [IDSanPhamCT], [IDHoaDon], [Gia], [SoLuong], [ThanhTien], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (4, 2, 2, 150000.0000, -2, -300000.0000, NULL, NULL, CAST(N'2023-12-06T11:05:04.620' AS DateTime), NULL, CAST(N'2023-12-06T11:05:04.620' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Hoa_Don_Chi_Tiet] OFF
SET IDENTITY_INSERT [dbo].[Khach_Hang] ON 

INSERT [dbo].[Khach_Hang] ([ID], [MaKH], [HoTen], [SDT], [DiaChi], [GioiTinh], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'KH01', N'Lò Thị Bưởi', N'0353869573', N'Hà Nội', 1, NULL, NULL, CAST(N'2023-12-06T10:20:13.197' AS DateTime), NULL, CAST(N'2023-12-06T10:20:13.197' AS DateTime), 0)
INSERT [dbo].[Khach_Hang] ([ID], [MaKH], [HoTen], [SDT], [DiaChi], [GioiTinh], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'lCepyVu9', N'Cao Ngọc Giáp', N'0359430944', N'Hà Nội', 1, NULL, NULL, CAST(N'2023-12-07T02:02:45.363' AS DateTime), NULL, CAST(N'2023-12-07T02:02:45.363' AS DateTime), 0)
INSERT [dbo].[Khach_Hang] ([ID], [MaKH], [HoTen], [SDT], [DiaChi], [GioiTinh], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'2wyGJfuY', N'Tạ Thành Tấn', N'0934847523', N'Lào Cai', 1, NULL, NULL, CAST(N'2023-12-07T23:47:42.510' AS DateTime), NULL, CAST(N'2023-12-07T23:47:42.510' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Khach_Hang] OFF
SET IDENTITY_INSERT [dbo].[Khuyen_Mai] ON 

INSERT [dbo].[Khuyen_Mai] ([ID], [Ma], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'', N'', NULL, CAST(N'2023-12-14T00:00:00.000' AS DateTime), 0, NULL, CAST(N'2023-12-11T11:39:25.633' AS DateTime), NULL, CAST(N'2023-12-11T11:39:25.633' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Khuyen_Mai] OFF
SET IDENTITY_INSERT [dbo].[Lich_Su_Hoa_Don] ON 

INSERT [dbo].[Lich_Su_Hoa_Don] ([ID], [IDHoaDon], [ThoiGian], [HanhDong], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, 11, CAST(N'2023-12-07T02:12:45.717' AS DateTime), 7, 0, NULL, CAST(N'2023-12-06T13:15:32.550' AS DateTime), NULL, CAST(N'2023-12-07T02:12:45.717' AS DateTime), 0)
INSERT [dbo].[Lich_Su_Hoa_Don] ([ID], [IDHoaDon], [ThoiGian], [HanhDong], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, 11, CAST(N'2023-12-07T07:41:41.170' AS DateTime), 5, 0, NULL, CAST(N'2023-12-06T13:15:32.550' AS DateTime), NULL, CAST(N'2023-12-07T07:41:41.170' AS DateTime), 0)
INSERT [dbo].[Lich_Su_Hoa_Don] ([ID], [IDHoaDon], [ThoiGian], [HanhDong], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, 11, CAST(N'2023-12-07T08:22:48.417' AS DateTime), 5, 0, NULL, CAST(N'2023-12-06T13:15:32.550' AS DateTime), NULL, CAST(N'2023-12-07T08:22:48.417' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Lich_Su_Hoa_Don] OFF
SET IDENTITY_INSERT [dbo].[Mau_Sac] ON 

INSERT [dbo].[Mau_Sac] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-2ACGR8F', N'Vàng', NULL, CAST(N'2023-12-06T09:20:15.437' AS DateTime), NULL, CAST(N'2023-12-06T09:20:15.437' AS DateTime), 0)
INSERT [dbo].[Mau_Sac] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-R53GBFU', N'Đỏ', NULL, CAST(N'2023-12-06T09:20:20.947' AS DateTime), NULL, CAST(N'2023-12-06T09:20:20.947' AS DateTime), 0)
INSERT [dbo].[Mau_Sac] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-CHV5CD7', N'Trắng', NULL, CAST(N'2023-12-06T09:20:26.627' AS DateTime), NULL, CAST(N'2023-12-06T09:20:26.627' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Mau_Sac] OFF
SET IDENTITY_INSERT [dbo].[Nha_San_Xuat] ON 

INSERT [dbo].[Nha_San_Xuat] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-2LQMS2U', N'Polyshoes', NULL, CAST(N'2023-12-06T09:27:14.493' AS DateTime), NULL, CAST(N'2023-12-06T09:27:14.493' AS DateTime), 0)
INSERT [dbo].[Nha_San_Xuat] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-P9ZVE62', N'Vasashoes', NULL, CAST(N'2023-12-06T09:27:22.883' AS DateTime), NULL, CAST(N'2023-12-06T09:27:22.883' AS DateTime), 0)
INSERT [dbo].[Nha_San_Xuat] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-HUVG34G', N'Biti''s', NULL, CAST(N'2023-12-06T09:27:33.830' AS DateTime), NULL, CAST(N'2023-12-06T09:27:33.830' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Nha_San_Xuat] OFF
SET IDENTITY_INSERT [dbo].[Nhan_Vien] ON 

INSERT [dbo].[Nhan_Vien] ([ID], [IDChucVu], [MaNV], [Email], [MatKhau], [CCCD], [TenNV], [NgaySinh], [SDT], [DiaChi], [GioiTinh], [TrangThai], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (1, 1, N'NV01', N'caongocgiap732004@gmail.com', N'123', N'001204053647', N'Cao Ngọc Giáp', CAST(N'2004-03-07' AS Date), N'0359430944', N'Hà Nội', 1, 1, CAST(N'2023-12-06T09:14:49.647' AS DateTime), NULL, CAST(N'2023-12-06T09:14:49.647' AS DateTime), NULL, 0)
INSERT [dbo].[Nhan_Vien] ([ID], [IDChucVu], [MaNV], [Email], [MatKhau], [CCCD], [TenNV], [NgaySinh], [SDT], [DiaChi], [GioiTinh], [TrangThai], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (2, 1, N'NV02', N'mike@yahoo.com', N'qhsFcAtW', N'638424959000', N'Lê Văn Trung', CAST(N'1993-11-16' AS Date), N'0861232478', N'Quảng Trị', 1, 0, CAST(N'2023-12-07T08:23:46.253' AS DateTime), NULL, CAST(N'2023-12-07T08:23:46.253' AS DateTime), NULL, 0)
INSERT [dbo].[Nhan_Vien] ([ID], [IDChucVu], [MaNV], [Email], [MatKhau], [CCCD], [TenNV], [NgaySinh], [SDT], [DiaChi], [GioiTinh], [TrangThai], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (3, 1, N'NV03', N'quannvph37802@fpt.edu.vn', N'xEeFF2s3', N'786700343732', N'Hoàng Đức Cường', CAST(N'1928-05-16' AS Date), N'0961047618', N'Quảng Trị', 1, 1, CAST(N'2023-12-07T10:10:40.677' AS DateTime), NULL, CAST(N'2023-12-07T10:10:40.677' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Nhan_Vien] OFF
SET IDENTITY_INSERT [dbo].[San_Pham] ON 

INSERT [dbo].[San_Pham] ([ID], [Ma], [Ten], [MoTa], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'SP-PZH91FE', N'Giày kiên cường', N'Tăng kháng hiệu ứng
', 0, NULL, CAST(N'2023-12-06T09:18:52.000' AS DateTime), NULL, CAST(N'2023-12-06T09:18:52.000' AS DateTime), 0)
INSERT [dbo].[San_Pham] ([ID], [Ma], [Ten], [MoTa], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'SP-35AHCY4', N'Giày du mục', N'Tăng tốc đánh', 0, NULL, CAST(N'2023-12-06T09:29:31.023' AS DateTime), NULL, CAST(N'2023-12-06T09:29:31.023' AS DateTime), 0)
INSERT [dbo].[San_Pham] ([ID], [Ma], [Ten], [MoTa], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'SP-6LHXXU7', N'Giày thuật sĩ', N'Giảm hồi chiêu', 1, NULL, CAST(N'2023-12-06T09:30:00.680' AS DateTime), NULL, CAST(N'2023-12-06T09:30:00.680' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[San_Pham] OFF
SET IDENTITY_INSERT [dbo].[San_Pham_Chi_Tiet] ON 

INSERT [dbo].[San_Pham_Chi_Tiet] ([ID], [IDDanhMuc], [IDXuatXu], [IDNSX], [IDMauSac], [IDSize], [IDSanPham], [IDThuongHieu], [IDChatLieu], [IDDeGiay], [IDCoGiay], [Ma], [KhoiLuong], [Gia], [SoLuongTon], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, 3, 4, 3, 5, 5, 6, 3, 4, 4, 3, N'SPCT-PG5DG', NULL, 450000.0000, 378, 0, NULL, CAST(N'2023-12-06T09:33:15.240' AS DateTime), NULL, CAST(N'2023-12-06T09:33:15.240' AS DateTime), 0)
INSERT [dbo].[San_Pham_Chi_Tiet] ([ID], [IDDanhMuc], [IDXuatXu], [IDNSX], [IDMauSac], [IDSize], [IDSanPham], [IDThuongHieu], [IDChatLieu], [IDDeGiay], [IDCoGiay], [Ma], [KhoiLuong], [Gia], [SoLuongTon], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, 4, 5, 4, 6, 6, 6, 4, 5, 5, 4, N'SPCT-SIYRO', NULL, 150000.0000, 275, 0, NULL, CAST(N'2023-12-06T10:32:08.657' AS DateTime), NULL, CAST(N'2023-12-06T10:32:08.657' AS DateTime), 0)
INSERT [dbo].[San_Pham_Chi_Tiet] ([ID], [IDDanhMuc], [IDXuatXu], [IDNSX], [IDMauSac], [IDSize], [IDSanPham], [IDThuongHieu], [IDChatLieu], [IDDeGiay], [IDCoGiay], [Ma], [KhoiLuong], [Gia], [SoLuongTon], [TrangThai], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, 2, 3, 2, 2, 2, 5, 2, 1, 2, 2, N'SPCT-IHNRE', NULL, 680000.0000, 129, 0, NULL, CAST(N'2023-12-06T10:37:01.090' AS DateTime), NULL, CAST(N'2023-12-06T10:37:01.090' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[San_Pham_Chi_Tiet] OFF
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([ID], [Ma], [Size], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-02J84TL', 36, NULL, CAST(N'2023-12-06T09:26:03.130' AS DateTime), NULL, CAST(N'2023-12-06T09:26:03.130' AS DateTime), 0)
INSERT [dbo].[Size] ([ID], [Ma], [Size], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-U1VM9RM', 37, NULL, CAST(N'2023-12-06T09:26:07.577' AS DateTime), NULL, CAST(N'2023-12-06T09:26:07.577' AS DateTime), 0)
INSERT [dbo].[Size] ([ID], [Ma], [Size], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-YU4085E', 38, NULL, CAST(N'2023-12-06T09:26:11.340' AS DateTime), NULL, CAST(N'2023-12-06T09:26:11.340' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Size] OFF
SET IDENTITY_INSERT [dbo].[Thuong_Hieu] ON 

INSERT [dbo].[Thuong_Hieu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-L1H2QDN', N'Van', NULL, CAST(N'2023-12-06T09:27:42.990' AS DateTime), NULL, CAST(N'2023-12-06T09:27:42.990' AS DateTime), 0)
INSERT [dbo].[Thuong_Hieu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-FYVB1KR', N'Jordan', NULL, CAST(N'2023-12-06T09:27:47.867' AS DateTime), NULL, CAST(N'2023-12-06T09:27:47.867' AS DateTime), 0)
INSERT [dbo].[Thuong_Hieu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-LOL892H', N'Nike', NULL, CAST(N'2023-12-06T09:27:54.997' AS DateTime), NULL, CAST(N'2023-12-06T09:27:54.997' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Thuong_Hieu] OFF
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([ID], [Ma], [Ten], [NgayBD], [NgayKT], [SoLuong], [PhanTramGiam], [GTToiThieu], [GiamToiDa], [TrangThai], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (16, N'VC-S1HQ1', N'Khuyến mại đầu lòng', CAST(N'2023-12-11T00:00:00.000' AS DateTime), CAST(N'2023-12-13T00:00:00.000' AS DateTime), 29, 20, 300000.0000, 200000.0000, 2, CAST(N'2023-12-11T17:43:09.493' AS DateTime), 1, CAST(N'2023-12-11T17:43:09.493' AS DateTime), NULL, 0)
INSERT [dbo].[Voucher] ([ID], [Ma], [Ten], [NgayBD], [NgayKT], [SoLuong], [PhanTramGiam], [GTToiThieu], [GiamToiDa], [TrangThai], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (17, N'VC-Q5D1E', N'Black Friday', CAST(N'2023-12-11T00:00:00.000' AS DateTime), CAST(N'2023-12-14T00:00:00.000' AS DateTime), 10, 30, 100000.0000, 50000.0000, 2, CAST(N'2023-12-11T17:45:45.697' AS DateTime), 1, CAST(N'2023-12-11T17:45:45.697' AS DateTime), NULL, 0)
INSERT [dbo].[Voucher] ([ID], [Ma], [Ten], [NgayBD], [NgayKT], [SoLuong], [PhanTramGiam], [GTToiThieu], [GiamToiDa], [TrangThai], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [Deleted]) VALUES (18, N'VC-GGCZO', N'Black Saturday ', CAST(N'2023-12-11T00:00:00.000' AS DateTime), CAST(N'2023-12-13T00:00:00.000' AS DateTime), 30, 20, 100000.0000, 100000.0000, 2, CAST(N'2023-12-11T19:11:31.723' AS DateTime), 1, CAST(N'2023-12-11T19:11:31.723' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
SET IDENTITY_INSERT [dbo].[Xuat_Xu] ON 

INSERT [dbo].[Xuat_Xu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (1, N'TT-45C5VV8', N'Việt Nam', NULL, CAST(N'2023-12-06T09:25:35.103' AS DateTime), NULL, CAST(N'2023-12-06T09:25:35.103' AS DateTime), 0)
INSERT [dbo].[Xuat_Xu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (2, N'TT-E73OBAT', N'Nhật Bản', NULL, CAST(N'2023-12-06T09:25:45.560' AS DateTime), NULL, CAST(N'2023-12-06T09:25:45.560' AS DateTime), 0)
INSERT [dbo].[Xuat_Xu] ([ID], [Ma], [Ten], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat], [Deleted]) VALUES (3, N'TT-9EKV5R9', N'Trung Quốc', NULL, CAST(N'2023-12-06T09:25:52.043' AS DateTime), NULL, CAST(N'2023-12-06T09:25:52.043' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Xuat_Xu] OFF
ALTER TABLE [dbo].[Co_Giay] ADD  CONSTRAINT [DF_Co_Giay_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Co_Giay] ADD  CONSTRAINT [DF_Co_Giay_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Co_Giay] ADD  CONSTRAINT [DF_Co_Giay_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Chat_Lieu] ADD  CONSTRAINT [DF_Chat_Lieu_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Chat_Lieu] ADD  CONSTRAINT [DF_Chat_Lieu_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Chat_Lieu] ADD  CONSTRAINT [DF_Chat_Lieu_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Chuc_Vu] ADD  CONSTRAINT [DF_Chuc_Vu_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Chuc_Vu] ADD  CONSTRAINT [DF_Chuc_Vu_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Chuc_Vu] ADD  CONSTRAINT [DF_Chuc_Vu_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Danh_Muc] ADD  CONSTRAINT [DF_Danh_Muc_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Danh_Muc] ADD  CONSTRAINT [DF_Danh_Muc_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Danh_Muc] ADD  CONSTRAINT [DF_Danh_Muc_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[De_Giay] ADD  CONSTRAINT [DF_De_Giay_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[De_Giay] ADD  CONSTRAINT [DF_De_Giay_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[De_Giay] ADD  CONSTRAINT [DF_De_Giay_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Hinh_Anh] ADD  CONSTRAINT [DF_Hinh_Anh_Cover]  DEFAULT ((0)) FOR [Cover]
GO
ALTER TABLE [dbo].[Hinh_Anh] ADD  CONSTRAINT [DF_Hinh_Anh_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Hinh_Anh] ADD  CONSTRAINT [DF_Hinh_Anh_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Hinh_Anh] ADD  CONSTRAINT [DF_Hinh_Anh_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT] ADD  CONSTRAINT [DF_HinhThucTT_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT] ADD  CONSTRAINT [DF_HinhThucTT_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT] ADD  CONSTRAINT [DF_Hinh_Thuc_TT_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Hoa_Don] ADD  CONSTRAINT [DF_Hoa_Don_NgayThanhToan]  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[Hoa_Don] ADD  CONSTRAINT [DF_Hoa_Don_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Hoa_Don] ADD  CONSTRAINT [DF_Hoa_Don_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Hoa_Don] ADD  CONSTRAINT [DF_Hoa_Don_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet] ADD  CONSTRAINT [DF_Hoa_Don_Chi_Tiet_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet] ADD  CONSTRAINT [DF_Hoa_Don_Chi_Tiet_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet] ADD  CONSTRAINT [DF_Hoa_Don_Chi_Tiet_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Khach_Hang] ADD  CONSTRAINT [DF_Khach_Hang_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Khach_Hang] ADD  CONSTRAINT [DF_Khach_Hang_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Khach_Hang] ADD  CONSTRAINT [DF_Khach_Hang_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Khuyen_Mai] ADD  CONSTRAINT [DF_Khuyen_Mai_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Khuyen_Mai] ADD  CONSTRAINT [DF_Khuyen_Mai_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Khuyen_Mai] ADD  CONSTRAINT [DF_Khuyen_Mai_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet] ADD  CONSTRAINT [DF_Khuyen_Mai_Chi_Tiet_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet] ADD  CONSTRAINT [DF_Khuyen_Mai_Chi_Tiet_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet] ADD  CONSTRAINT [DF_Khuyen_Mai_Chi_Tiet_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Lich_Su_Hoa_Don] ADD  CONSTRAINT [DF_Lich_Su_Hoa_Don_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Lich_Su_Hoa_Don] ADD  CONSTRAINT [DF_Lich_Su_Hoa_Don_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Lich_Su_Hoa_Don] ADD  CONSTRAINT [DF_Lich_Su_Hoa_Don_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Mau_Sac] ADD  CONSTRAINT [DF_Mau_Sac_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Mau_Sac] ADD  CONSTRAINT [DF_Mau_Sac_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Mau_Sac] ADD  CONSTRAINT [DF_Mau_Sac_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Nha_San_Xuat] ADD  CONSTRAINT [DF_Nha_San_Xuat_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Nha_San_Xuat] ADD  CONSTRAINT [DF_Nha_San_Xuat_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Nha_San_Xuat] ADD  CONSTRAINT [DF_Nha_San_Xuat_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Nhan_Vien] ADD  CONSTRAINT [DF_Nhan_Vien_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Nhan_Vien] ADD  CONSTRAINT [DF_Nhan_Vien_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Nhan_Vien] ADD  CONSTRAINT [DF_Nhan_Vien_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[San_Pham] ADD  CONSTRAINT [DF_San_Pham_NgayTao_1]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[San_Pham] ADD  CONSTRAINT [DF_San_Pham_NgayCapNhat_1]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[San_Pham] ADD  CONSTRAINT [DF_San_Pham_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] ADD  CONSTRAINT [DF_San_Pham_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] ADD  CONSTRAINT [DF_San_Pham_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] ADD  CONSTRAINT [DF_San_Pham_Chi_Tiet_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Size] ADD  CONSTRAINT [DF_Size_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Size] ADD  CONSTRAINT [DF_Size_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Size] ADD  CONSTRAINT [DF_Size_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Thanh_Toan] ADD  CONSTRAINT [DF_Thanh_Toan_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Thanh_Toan] ADD  CONSTRAINT [DF_Thanh_Toan_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Thanh_Toan] ADD  CONSTRAINT [DF_Thanh_Toan_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Thuong_Hieu] ADD  CONSTRAINT [DF_Thuong_Hieu_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Thuong_Hieu] ADD  CONSTRAINT [DF_Thuong_Hieu_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Thuong_Hieu] ADD  CONSTRAINT [DF_Thuong_Hieu_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Voucher_NgayBD]  DEFAULT (getdate()) FOR [NgayBD]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Voucher_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Voucher_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Voucher_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Xuat_Xu] ADD  CONSTRAINT [DF_Xuat_Xu_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Xuat_Xu] ADD  CONSTRAINT [DF_Xuat_Xu_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Xuat_Xu] ADD  CONSTRAINT [DF_Xuat_Xu_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Hinh_Anh]  WITH CHECK ADD  CONSTRAINT [FK_Hinh_Anh_San_Pham_Chi_Tiet] FOREIGN KEY([IDSanPhamCT])
REFERENCES [dbo].[San_Pham_Chi_Tiet] ([ID])
GO
ALTER TABLE [dbo].[Hinh_Anh] CHECK CONSTRAINT [FK_Hinh_Anh_San_Pham_Chi_Tiet]
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT]  WITH CHECK ADD  CONSTRAINT [FK_Hinh_Thuc_TT_Hoa_Don] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[Hoa_Don] ([ID])
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT] CHECK CONSTRAINT [FK_Hinh_Thuc_TT_Hoa_Don]
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT]  WITH CHECK ADD  CONSTRAINT [FK_Hinh_Thuc_TT_Thanh_Toan] FOREIGN KEY([IDThanhToan])
REFERENCES [dbo].[Thanh_Toan] ([ID])
GO
ALTER TABLE [dbo].[Hinh_Thuc_TT] CHECK CONSTRAINT [FK_Hinh_Thuc_TT_Thanh_Toan]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Khach_Hang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[Khach_Hang] ([ID])
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_Hoa_Don_Khach_Hang]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Nhan_Vien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[Nhan_Vien] ([ID])
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_Hoa_Don_Nhan_Vien]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Voucher] FOREIGN KEY([IDVoucher])
REFERENCES [dbo].[Voucher] ([ID])
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_Hoa_Don_Voucher]
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Chi_Tiet_Hoa_Don] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[Hoa_Don] ([ID])
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet] CHECK CONSTRAINT [FK_Hoa_Don_Chi_Tiet_Hoa_Don]
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Chi_Tiet_San_Pham_Chi_Tiet] FOREIGN KEY([IDSanPhamCT])
REFERENCES [dbo].[San_Pham_Chi_Tiet] ([ID])
GO
ALTER TABLE [dbo].[Hoa_Don_Chi_Tiet] CHECK CONSTRAINT [FK_Hoa_Don_Chi_Tiet_San_Pham_Chi_Tiet]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_Khuyen_Mai_Chi_Tiet_Khuyen_Mai] FOREIGN KEY([IDKhuyenMai])
REFERENCES [dbo].[Khuyen_Mai] ([ID])
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet] CHECK CONSTRAINT [FK_Khuyen_Mai_Chi_Tiet_Khuyen_Mai]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_Khuyen_Mai_Chi_Tiet_San_Pham_Chi_Tiet] FOREIGN KEY([IDSanPhamCT])
REFERENCES [dbo].[San_Pham_Chi_Tiet] ([ID])
GO
ALTER TABLE [dbo].[Khuyen_Mai_Chi_Tiet] CHECK CONSTRAINT [FK_Khuyen_Mai_Chi_Tiet_San_Pham_Chi_Tiet]
GO
ALTER TABLE [dbo].[Lich_Su_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Lich_Su_Hoa_Don_Hoa_Don] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[Hoa_Don] ([ID])
GO
ALTER TABLE [dbo].[Lich_Su_Hoa_Don] CHECK CONSTRAINT [FK_Lich_Su_Hoa_Don_Hoa_Don]
GO
ALTER TABLE [dbo].[Nhan_Vien]  WITH CHECK ADD  CONSTRAINT [FK_Nhan_Vien_Chuc_Vu] FOREIGN KEY([IDChucVu])
REFERENCES [dbo].[Chuc_Vu] ([id])
GO
ALTER TABLE [dbo].[Nhan_Vien] CHECK CONSTRAINT [FK_Nhan_Vien_Chuc_Vu]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Co_Giay] FOREIGN KEY([IDCoGiay])
REFERENCES [dbo].[Co_Giay] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Co_Giay]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Chat_Lieu] FOREIGN KEY([IDChatLieu])
REFERENCES [dbo].[Chat_Lieu] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Chat_Lieu]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Danh_Muc] FOREIGN KEY([IDDanhMuc])
REFERENCES [dbo].[Danh_Muc] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Danh_Muc]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_De_Giay] FOREIGN KEY([IDDeGiay])
REFERENCES [dbo].[De_Giay] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_De_Giay]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Mau_Sac] FOREIGN KEY([IDMauSac])
REFERENCES [dbo].[Mau_Sac] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Mau_Sac]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Nha_San_Xuat] FOREIGN KEY([IDNSX])
REFERENCES [dbo].[Nha_San_Xuat] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Nha_San_Xuat]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_San_Pham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[San_Pham] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_San_Pham]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Size] FOREIGN KEY([IDSize])
REFERENCES [dbo].[Size] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Size]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Thuong_Hieu] FOREIGN KEY([IDThuongHieu])
REFERENCES [dbo].[Thuong_Hieu] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Thuong_Hieu]
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Chi_Tiet_Xuat_Xu] FOREIGN KEY([IDXuatXu])
REFERENCES [dbo].[Xuat_Xu] ([ID])
GO
ALTER TABLE [dbo].[San_Pham_Chi_Tiet] CHECK CONSTRAINT [FK_San_Pham_Chi_Tiet_Xuat_Xu]
GO
/****** Object:  StoredProcedure [dbo].[get_1SPCT_ByMa]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_1SPCT_ByMa] 
	@ma varchar(10)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham_Chi_tiet.Id DESC) AS [STT],
		San_Pham_Chi_Tiet.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,
		Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai
		FROM San_Pham_Chi_Tiet INNER JOIN
		San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID INNER JOIN
		Size ON San_Pham_Chi_Tiet.IDSize = Size.ID INNER JOIN
		Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID INNER JOIN
        Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID INNER JOIN
        Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID INNER JOIN
        Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID INNER JOIN
		De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID INNER JOIN
        Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID INNER JOIN
		Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID INNER JOIN
        Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID WHERE San_Pham_Chi_Tiet.Ma LIKE @Ma'
    EXEC sp_executesql @sql, N'@Ma VARCHAR(10)', @Ma
END
GO
/****** Object:  StoredProcedure [dbo].[get_All_SP]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_All_SP]
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT
					ROW_NUMBER() OVER (ORDER BY San_Pham.Id) AS [STT],
					San_Pham.id,
					San_Pham.Ma,
					San_Pham.Ten,
					San_Pham.MoTa,
					COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) AS TongSoLuongTon,
					CASE WHEN COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) > 0 THEN 1 ELSE 0 END AS TrangThai
				FROM
					San_Pham
				LEFT JOIN
					San_Pham_Chi_Tiet ON San_Pham.id = San_Pham_Chi_Tiet.IDSanPham
				GROUP BY
					San_Pham.id,
					San_Pham.Ma,
					San_Pham.Ten,
					San_Pham.MoTa;
				UPDATE San_Pham
				SET TrangThai = IIF(COALESCE((SELECT SUM(SoLuongTon) FROM San_Pham_Chi_Tiet WHERE IDSanPham = San_Pham.id), 0) > 0, 1, 0)'
    EXEC sp_executesql @sql
END
GO
/****** Object:  StoredProcedure [dbo].[get_ALL_SPCT]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_ALL_SPCT]  
 @page INT,  
 @limit INT  
AS  
BEGIN  
    DECLARE @sql NVARCHAR(MAX)  
    SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham_Chi_tiet.Id DESC) AS [STT],  
	  San_Pham_Chi_Tiet.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,  
	  Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai  
	  FROM San_Pham_Chi_Tiet INNER JOIN  
	  San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID INNER JOIN  
	  Size ON San_Pham_Chi_Tiet.IDSize = Size.ID INNER JOIN  
	  Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID INNER JOIN  
			Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID INNER JOIN  
			Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID INNER JOIN  
			Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID INNER JOIN  
	  De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID INNER JOIN  
			Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID INNER JOIN  
	  Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID INNER JOIN  
			Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID 
			WHERE San_Pham_Chi_Tiet.TrangThai = 0
	  ORDER BY San_Pham_Chi_Tiet.ID DESC OFFSET @page ROWS FETCH NEXT @limit ROWS ONLY'  
    EXEC sp_executesql @sql, N'@page INT, @limit INT', @page, @limit  
END  
GO
/****** Object:  StoredProcedure [dbo].[Get_HD_By_MaHD]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_HD_By_MaHD]
	@MaHD VARCHAR(10),
	@TrangThai BIT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = '
		SELECT  Hoa_Don.ID, Hoa_Don.MaHD, Hoa_Don.NgayTao, Hoa_Don.NgayThanhToan, Nhan_Vien.MaNV, SUM(Hoa_Don_Chi_Tiet.SoLuong) AS TongSP,
				Khach_Hang.HoTen, Hoa_Don.TongTien, Hoa_Don.TrangThai, Khuyen_Mai_Chi_Tiet.SoTienGiam, Thanh_Toan.HinhThuc
		FROM    Hoa_Don LEFT JOIN
				Nhan_Vien ON Hoa_Don.IDNhanVien = Nhan_Vien.ID LEFT JOIN
				Khach_Hang ON Hoa_Don.IDKhachHang = Khach_Hang.ID LEFT JOIN
				Khuyen_Mai_Chi_Tiet ON Hoa_Don.ID = Khuyen_Mai_Chi_Tiet.ID LEFT JOIN
				Thanh_Toan ON Hoa_Don.ID = Thanh_Toan.ID LEFT JOIN
				Hoa_Don_Chi_Tiet ON Hoa_Don.ID = Hoa_Don_Chi_Tiet.IDHoaDon WHERE MAHD LIKE @MaHD AND Hoa_Don.TrangThai = @TrangThai AND Hoa_Don.Deleted = 0
				GROUP BY Hoa_Don.ID, Hoa_Don.MaHD, Hoa_Don.NgayTao, Hoa_Don.NgayThanhToan, Nhan_Vien.MaNV,
				Khach_Hang.HoTen, Hoa_Don.TongTien, Hoa_Don.TrangThai, Khuyen_Mai_Chi_Tiet.SoTienGiam, Thanh_Toan.HinhThuc
				ORDER BY Hoa_Don.ID DESC'
    EXEC sp_executesql @sql, N'@MaHD VARCHAR(10), @TrangThai BIT', @MaHD, @TrangThai
END
GO
/****** Object:  StoredProcedure [dbo].[get_SP_Deleted]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_SP_Deleted] 
	@Deleted BIT,
	@page INT,
	@limit INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham.ID DESC) AS [STT], San_Pham.id,San_Pham.Ma,Ten,MoTa,COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) AS TongSoLuongTon,
			CASE WHEN COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) > 0 THEN 1 ELSE 0 END AS TrangThai
			FROM San_Pham LEFT JOIN San_Pham_Chi_Tiet ON San_Pham.id = San_Pham_Chi_Tiet.IDSanPham WHERE San_Pham.Deleted = @Deleted
			GROUP BY San_Pham.id,San_Pham.Ma,Ten,MoTa ORDER BY id DESC OFFSET @page ROWS FETCH NEXT @limit ROWS ONLY'
    EXEC sp_executesql @sql, N'@Deleted BIT, @page INT, @limit INT', @Deleted, @page, @limit
END
GO
/****** Object:  StoredProcedure [dbo].[get_SPCT_ByTen]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_SPCT_ByTen]     
 @Ten NVARCHAR(MAX)    
AS    
BEGIN    
    DECLARE @sql NVARCHAR(MAX)    
  SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham_Chi_tiet.Id DESC) AS [STT],    
       San_Pham_Chi_Tiet.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,    
       Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai    
       FROM San_Pham_Chi_Tiet INNER JOIN    
       San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID INNER JOIN    
       Size ON San_Pham_Chi_Tiet.IDSize = Size.ID INNER JOIN    
       Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID INNER JOIN    
       Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID INNER JOIN    
       Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID INNER JOIN    
       Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID INNER JOIN    
       De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID INNER JOIN    
       Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID INNER JOIN    
       Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID INNER JOIN    
       Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID    
       WHERE San_Pham.Ten LIKE @Ten'    
    EXEC sp_executesql @sql, N'@Ten NVARCHAR(MAX)', @Ten    
END 
GO
/****** Object:  StoredProcedure [dbo].[get_SPCT_Deleted]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_SPCT_Deleted] 
	@maSP VARCHAR(10),
	@Deleted BIT,
	@page INT, 
	@limit INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham_Chi_tiet.Id DESC) AS [STT],
		San_Pham_Chi_Tiet.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,
		Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai
		FROM San_Pham_Chi_Tiet INNER JOIN
		San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID INNER JOIN
		Size ON San_Pham_Chi_Tiet.IDSize = Size.ID INNER JOIN
		Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID INNER JOIN
        Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID INNER JOIN
        Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID INNER JOIN
        Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID INNER JOIN
		De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID INNER JOIN
        Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID INNER JOIN
		Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID INNER JOIN
        Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID WHERE San_Pham.Ma LIKE @maSP AND San_Pham_Chi_Tiet.Deleted = @Deleted
		ORDER BY San_Pham_Chi_Tiet.ID DESC OFFSET @page ROWS FETCH NEXT @limit ROWS ONLY'
    EXEC sp_executesql @sql, N'@MaSP VARCHAR(10), @Deleted BIT, @page INT, @limit INT', @maSP, @Deleted, @page, @limit
END
GO
/****** Object:  StoredProcedure [dbo].[getIDByMa]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIDByMa] 
	@tenBang NVARCHAR(50),
	@ma NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = N'SELECT ID, Ma, Ten FROM ' + QUOTENAME(@tenBang) + ' WHERE ma = @ma'
    EXEC sp_executesql @sql, N'@ma NVARCHAR(50)', @ma
END
GO
/****** Object:  StoredProcedure [dbo].[getIDByTen]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIDByTen] 
	@tenBang NVARCHAR(50),
	@Ten NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
	SET @sql = CASE
		WHEN @tenBang = 'Size' THEN
			N'SELECT ID, Ma, size FROM Size WHERE size = @Ten'
		ELSE
			N'SELECT ID, Ma, Ten FROM ' + QUOTENAME(@tenBang) + ' WHERE Ten = @Ten'
		END
    EXEC sp_executesql @sql, N'@Ten NVARCHAR(50)', @Ten
END
GO
/****** Object:  StoredProcedure [dbo].[getIDSP_ByMa]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIDSP_ByMa] 
	@Ma NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = N'SELECT
			ROW_NUMBER() OVER (ORDER BY San_Pham.ID DESC) AS [STT],
                        San_Pham.id,
                        San_Pham.Ma,
                        San_Pham.Ten,
                        San_Pham.MoTa,
                        COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) AS TongSoLuongTon,
                        CASE WHEN COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) > 0 THEN 1 ELSE 0 END AS TrangThai
                    FROM
                        San_Pham
                    LEFT JOIN
                        San_Pham_Chi_Tiet ON San_Pham.id = San_Pham_Chi_Tiet.IDSanPham
					WHERE San_Pham.Ma = @Ma
                    GROUP BY
                        San_Pham.id,
                        San_Pham.Ma,
                        San_Pham.Ten,
                        San_Pham.MoTa'
    EXEC sp_executesql @sql, N'@Ma NVARCHAR(50)', @Ma
END
GO
/****** Object:  StoredProcedure [dbo].[getIDSP_ByTen]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIDSP_ByTen] 
	@Ten NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = N'SELECT
				ROW_NUMBER() OVER (ORDER BY San_Pham.ID DESC) AS [STT],
                        San_Pham.id,
                        San_Pham.Ma,
                        San_Pham.Ten,
                        San_Pham.MoTa,
                        COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) AS TongSoLuongTon,
                        CASE WHEN COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) > 0 THEN 1 ELSE 0 END AS TrangThai
                    FROM
                        San_Pham
                    LEFT JOIN
                        San_Pham_Chi_Tiet ON San_Pham.id = San_Pham_Chi_Tiet.IDSanPham
					WHERE Ten LIKE @Ten
                    GROUP BY
                        San_Pham.id,
                        San_Pham.Ma,
                        San_Pham.Ten,
                        San_Pham.MoTa'
    EXEC sp_executesql @sql, N'@Ten NVARCHAR(50)', @Ten
END
GO
/****** Object:  StoredProcedure [dbo].[getIDSPCT_ById]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIDSPCT_ById] 
	@ID INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = N'SELECT San_Pham.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,
		Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai
		FROM San_Pham_Chi_Tiet INNER JOIN
		San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID JOIN
		Size ON San_Pham_Chi_Tiet.IDSize = Size.ID JOIN
		Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID JOIN
        Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID JOIN
        Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID JOIN
        Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID JOIN
		De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID JOIN
        Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID JOIN
		Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID JOIN
        Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID WHERE San_Pham_Chi_Tiet.ID = @ID'
    EXEC sp_executesql @sql, N'@ID INT', @ID
END
GO
/****** Object:  StoredProcedure [dbo].[getSPCT_ByTen]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getSPCT_ByTen] 
	@Nha_San_Xuat VARCHAR(MAX),
	@Mau_Sac VARCHAR(MAX),
	@Chat_Lieu VARCHAR(MAX),
	@Co_Giay VARCHAR(MAX)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = N'SELECT San_Pham.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,
		Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai
		FROM San_Pham_Chi_Tiet INNER JOIN
		San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID JOIN
		Size ON San_Pham_Chi_Tiet.IDSize = Size.ID JOIN
		Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID JOIN
        Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID JOIN
        Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID JOIN
        Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID JOIN
		De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID JOIN
        Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID JOIN
		Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID JOIN
        Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID 
		WHERE Nha_San_Xuat.ten = @Nha_San_Xuat and Mau_Sac.ten = @Mau_Sac and Chat_Lieu.ten = @Chat_Lieu and Co_Giay.ten = @Co_Giay'
    EXEC sp_executesql @sql, N'@Nha_San_Xuat VARCHAR(MAX), @Mau_Sac VARCHAR(MAX), @Chat_Lieu VARCHAR(MAX), @Co_Giay VARCHAR(MAX)', 
	@Nha_San_Xuat, @Mau_Sac, @Chat_Lieu, @Co_Giay
END
GO
/****** Object:  StoredProcedure [dbo].[getThuocTinh]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getThuocTinh] @tenBang NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = CASE
		WHEN @tenBang = 'Size' THEN
			'SELECT ID, Ma, Size FROM Size WHERE Deleted = 0 ORDER BY ID DESC'
		ELSE
			'SELECT ID, Ma, Ten FROM ' + QUOTENAME(@tenBang) + 'WHERE Deleted = 0 ORDER BY ID DESC'
		END
    EXEC sp_executesql @sql
END
GO
/****** Object:  StoredProcedure [dbo].[Giam_SL_GioHang]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Giam_SL_GioHang]
    @soLuong INT,
	@IDSPCT INT,
	@MaSPCT VARCHAR(10),
	@IDHD INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
		-- giảm số lượng sản phẩm chi tiết trong giỏ hàng
		UPDATE Hoa_Don_Chi_Tiet SET SoLuong = SoLuong - @soLuong WHERE IDSanPhamCT = @IDSPCT

		-- tính lại thành tiên
		UPDATE Hoa_Don_Chi_Tiet SET ThanhTien = SoLuong * Gia WHERE IDSanPhamCT = @IDSPCT

		-- Tính tổng tiền và cập nhật vào hóa đơn
        UPDATE Hoa_Don
        SET TongTien = (
                SELECT SUM(ThanhTien) AS TongTien
                FROM Hoa_Don_Chi_Tiet
                WHERE IDHoaDon = @IDHD
            )
        WHERE ID = @IDHD;

		-- tăng số lượng sản phẩm chi tiết trong bảng San_Pham_Chi_Tiet
		UPDATE San_Pham_Chi_Tiet SET SoLuongTon = SoLuongTon + @soLuong WHERE Ma = @MaSPCT
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[Loc_SP_ByTen]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Loc_SP_ByTen] 
	@Ten NVARCHAR(MAX),
	@page INT,
	@limit INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT
					ROW_NUMBER() OVER (ORDER BY San_Pham.Id) AS [STT],
					San_Pham.id,
					San_Pham.Ma,
					San_Pham.Ten,
					San_Pham.MoTa,
					COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) AS TongSoLuongTon,
					CASE WHEN COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) > 0 THEN 1 ELSE 0 END AS TrangThai
				FROM
					San_Pham
				LEFT JOIN
					San_Pham_Chi_Tiet ON San_Pham.id = San_Pham_Chi_Tiet.IDSanPham
				WHERE San_Pham.Ten LIKE @Ten
				GROUP BY
					San_Pham.id,
					San_Pham.Ma,
					San_Pham.Ten,
					San_Pham.MoTa
				ORDER BY id DESC OFFSET @page ROWS FETCH NEXT @limit ROWS ONLY

				UPDATE San_Pham
				SET TrangThai = IIF(COALESCE((SELECT SUM(SoLuongTon) FROM San_Pham_Chi_Tiet WHERE IDSanPham = San_Pham.id), 0) > 0, 1, 0)'
    EXEC sp_executesql @sql, N'@Ten NVARCHAR(MAX), @page INT, @limit INT', @Ten, @page, @limit
END
GO
/****** Object:  StoredProcedure [dbo].[Loc_SPCT]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Loc_SPCT]     
 @Ma VARCHAR(10) = '%',    
 @DanhMuc NVARCHAR(50) = '%',    
 @XuatXu NVARCHAR(50) = '%',    
 @NhaSanXuat NVARCHAR(50) = '%',    
 @Gia BIT = 0    
AS    
BEGIN    
    DECLARE @sql NVARCHAR(MAX)    
    SET @sql = N'    
    SELECT    
    ROW_NUMBER() OVER (ORDER BY San_Pham.ID DESC) AS [STT],    
    San_Pham_Chi_Tiet.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,    
    Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai    
    FROM San_Pham_Chi_Tiet JOIN    
    San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID JOIN    
    Size ON San_Pham_Chi_Tiet.IDSize = Size.ID JOIN    
    Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID JOIN    
    Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID JOIN    
    Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID JOIN    
    Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID JOIN    
    De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID JOIN    
    Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID JOIN    
    Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID JOIN    
    Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID     
    WHERE San_Pham.Ma LIKE @Ma    
     AND Nha_San_Xuat.ten LIKE @NhaSanXuat    
     AND Xuat_Xu.ten LIKE @XuatXu    
     AND Danh_Muc.ten LIKE @DanhMuc    
    ORDER BY     
                    CASE WHEN @Gia = 0 THEN San_Pham_Chi_Tiet.Gia END ASC,    
                    CASE WHEN @Gia = 1 THEN San_Pham_Chi_Tiet.Gia END DESC'    
    EXEC sp_executesql @sql, N'@Ma VARCHAR(10), @DanhMuc NVARCHAR(50), @XuatXu NVARCHAR(50), @NhaSanXuat NVARCHAR(50), @Gia BIT', @Ma, @DanhMuc, @XuatXu, @NhaSanXuat, @Gia    
END    
GO
/****** Object:  StoredProcedure [dbo].[pagging_SPCT_By_Ma]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pagging_SPCT_By_Ma] 
	@ma varchar(10),
	@page INT,
	@limit INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham_Chi_tiet.Id DESC) AS [STT],
		San_Pham_Chi_Tiet.Ma, San_Pham.Ten, Danh_Muc.Ten, Thuong_Hieu.Ten, Xuat_Xu.Ten, Nha_San_Xuat.Ten, Chat_Lieu.Ten, De_Giay.Ten, Co_Giay.Ten,
		Mau_Sac.Ten AS Expr8, Size.Size, San_Pham_Chi_Tiet.Gia, San_Pham_Chi_Tiet.SoLuongTon, San_Pham_Chi_Tiet.KhoiLuong, San_Pham_Chi_Tiet.TrangThai
		FROM San_Pham_Chi_Tiet INNER JOIN
		San_Pham ON San_Pham_Chi_Tiet.IDSanPham = San_Pham.ID INNER JOIN
		Size ON San_Pham_Chi_Tiet.IDSize = Size.ID INNER JOIN
		Thuong_Hieu ON San_Pham_Chi_Tiet.IDThuongHieu = Thuong_Hieu.ID INNER JOIN
        Xuat_Xu ON San_Pham_Chi_Tiet.IDXuatXu = Xuat_Xu.ID INNER JOIN
        Mau_Sac ON San_Pham_Chi_Tiet.IDMauSac = Mau_Sac.ID INNER JOIN
        Nha_San_Xuat ON San_Pham_Chi_Tiet.IDNSX = Nha_San_Xuat.ID INNER JOIN
		De_Giay ON San_Pham_Chi_Tiet.IDDeGiay = De_Giay.ID INNER JOIN
        Danh_Muc ON San_Pham_Chi_Tiet.IDDanhMuc = Danh_Muc.ID INNER JOIN
		Co_Giay ON San_Pham_Chi_Tiet.IDCoGiay = Co_Giay.ID INNER JOIN
        Chat_Lieu ON San_Pham_Chi_Tiet.IDChatLieu = Chat_Lieu.ID WHERE San_Pham.Ma LIKE @Ma
		ORDER BY San_Pham_Chi_Tiet.ID DESC OFFSET @page ROWS FETCH NEXT @limit ROWS ONLY'
    EXEC sp_executesql @sql, N'@Ma VARCHAR(10), @page INT, @limit INT', @Ma, @page, @limit
END
GO
/****** Object:  StoredProcedure [dbo].[Paging_SP]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Paging_SP] 
	@page INT,
	@limit INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT ROW_NUMBER() OVER (ORDER BY San_Pham.ID DESC) AS [STT],
				San_Pham.id,San_Pham.Ma,Ten,MoTa, COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) AS TongSoLuongTon,
				CASE WHEN COALESCE(SUM(San_Pham_Chi_Tiet.SoLuongTon), 0) > 0 THEN 1 ELSE 0 END AS TrangThai
				FROM San_Pham LEFT JOIN San_Pham_Chi_Tiet ON San_Pham.id = San_Pham_Chi_Tiet.IDSanPham
				GROUP BY San_Pham.id,San_Pham.Ma,Ten,MoTa ORDER BY id DESC OFFSET @page ROWS FETCH NEXT @limit ROWS ONLY'
    EXEC sp_executesql @sql, N'@page INT, @limit INT', @page, @limit
END
GO
/****** Object:  StoredProcedure [dbo].[Tao_Hoa_Don]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tao_Hoa_Don]
	@IDNV INT,
	@IDKH INT,
	@MaHD VARCHAR(10)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'INSERT INTO Hoa_Don (IDNhanVien, IDKhachHang, MaHD, NgayThanhToan, TongTien, TrangThai)
				VALUES(@IDNV, @IDKH, @MaHD, GETDATE(), 0, 1);' --Trạng thái 0: Đã thanh toán, 1: chờ thanh toán
    EXEC sp_executesql @sql, N'@IDNV INT, @IDKH INT, @MaHD VARCHAR(10)', @IDNV, @IDKH, @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[ThanhToanHD]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThanhToanHD] @MaHD VARCHAR(10)
AS
BEGIN
    UPDATE Hoa_Don SET TrangThai = 0 WHERE MaHD = @MaHD

	INSERT INTO [dbo].[Lich_Su_Hoa_Don] ([IDHoaDon],[ThoiGian],[HanhDong],[TrangThai],[NguoiTao],[NgayTao],[NguoiCapNhat],[NgayCapNhat],[Deleted])
	SELECT
		[ID],
		GETDATE() AS [ThoiGian], -- Giả sử ThoiGian là dấu thời gian cho hành động
		1 AS [HanhDong], -- Giả sử 1 đại diện cho hành động bạn muốn ghi log
		[TrangThai],
		[NguoiTao],
		[NgayTao],
		[NguoiCapNhat],
		GETDATE() AS  [NgayCapNhat],
		[Deleted]
	FROM
		[dbo].[hoa_don]
	WHERE
		[MaHD] = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[Them_HDCT]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_HDCT]
    @MaSanPham NVARCHAR(10),
    @SoLuongBan INT,
    @IDHD INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY

        DECLARE @IDSanPhamCT INT;

        -- Kiểm tra xem mã sản phẩm chi tiết đã tồn tại trong bảng Hoa_Don_Chi_Tiet hay chưa
        SELECT @IDSanPhamCT = ID
		FROM Hoa_Don_Chi_Tiet
        WHERE IDSanPhamCT = (SELECT ID FROM San_Pham_Chi_Tiet WHERE Ma = @MaSanPham) AND IDHoaDon = @IDHD;

        IF @IDSanPhamCT IS NOT NULL
        BEGIN
            -- Nếu tồn tại, cập nhật số lượng
            UPDATE Hoa_Don_Chi_Tiet
            SET SoLuong = SoLuong + @SoLuongBan,
                ThanhTien = Gia * (SoLuong + @SoLuongBan)
            WHERE ID = @IDSanPhamCT;
        END
        ELSE
        BEGIN
            -- Nếu chưa tồn tại, thêm mới vào bảng Hoa_Don_Chi_Tiet
            DECLARE @Gia MONEY;

            -- Lấy giá từ bảng San_Pham_Chi_Tiet
            SELECT @Gia = Gia
            FROM San_Pham_Chi_Tiet
            WHERE Ma = @MaSanPham;

            INSERT INTO Hoa_Don_Chi_Tiet (IDSanPhamCT, IDHoaDon, Gia, SoLuong, ThanhTien, Deleted)
            VALUES ((SELECT ID FROM San_Pham_Chi_Tiet WHERE Ma = @MaSanPham), @IDHD, @Gia, @SoLuongBan, @Gia * @SoLuongBan, 0);
        END

        -- Cập nhật số lượng tồn kho
        UPDATE San_Pham_Chi_Tiet
        SET SoLuongTon = SoLuongTon - @SoLuongBan
        WHERE Ma = @MaSanPham;

        -- Tính tổng tiền và cập nhật vào hóa đơn
        UPDATE Hoa_Don
        SET TongTien = (
                SELECT SUM(ThanhTien) AS TongTien
                FROM Hoa_Don_Chi_Tiet
                WHERE IDHoaDon = @IDHD
            )
        WHERE ID = @IDHD;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        -- Xử lý nếu có lỗi
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[them_SPCT]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[them_SPCT]
    @idDanhMuc INT,
    @idXuatXu INT,
    @idNSX INT,
    @idMauSac INT,
    @idSize INT,
    @idSanPham INT,
    @idThuongHieu INT,
    @idChatLieu INT,
    @idDeGiay INT,
    @idCoGiay INT,
	@ma VARCHAR(10),
    @gia MONEY,
    @soLuong INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 
        'INSERT INTO San_Pham_Chi_Tiet
         (IDDanhMuc, IDXuatXu, IDNSX, IDMauSac, IDSize, IDSanPham, IDThuongHieu, IDChatLieu, IDDeGiay, IDCoGiay, Ma, Gia, SoLuongTon, TrangThai)
         VALUES
         (@idDanhMuc, @idXuatXu, @idNSX, @idMauSac, @idSize, @idSanPham, @idThuongHieu, @idChatLieu, @idDeGiay, @idCoGiay, @ma, @gia, @soLuong, 0)'

    EXEC sp_executesql @sql, 
        N'@idDanhMuc INT, @idXuatXu INT, @idNSX INT, @idMauSac INT, @idSize INT,
           @idSanPham INT, @idThuongHieu INT, @idChatLieu INT, @idDeGiay INT, @idCoGiay INT, @ma VARCHAR(10),
           @gia MONEY, @soLuong INT',
        @idDanhMuc, @idXuatXu, @idNSX, @idMauSac, @idSize, @idSanPham, 
        @idThuongHieu, @idChatLieu, @idDeGiay, @idCoGiay, @ma, @gia, @soLuong
END
GO
/****** Object:  StoredProcedure [dbo].[Them_Voucher]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_Voucher]
    @ma VARCHAR(10),
    @ten NVARCHAR(MAX),
    @ngayBD DATETIME,
    @ngayKT DATETIME,
    @soLuong INT,
    @giaTriMin MONEY,
    @phanTramGiam INT,
    @giamToiDa MONEY,
    @nguoiTao INT
AS
BEGIN
    DECLARE @TrangThai INT
    SET @TrangThai = CASE 
        WHEN GETDATE() < @ngayBD THEN 0
        WHEN GETDATE() BETWEEN @ngayBD AND @ngayKT THEN 1
        WHEN GETDATE() > @ngayKT THEN 2
        ELSE 0
    END

    INSERT INTO Voucher (Ma, Ten, NgayBD, NgayKT, SoLuong, GTToiThieu, PhanTramGiam, GiamToiDa, NguoiTao, TrangThai)
    VALUES (@ma, @ten, @ngayBD, @ngayKT, @soLuong, @giaTriMin, @phanTramGiam, @giamToiDa, @nguoiTao, @TrangThai)
END
GO
/****** Object:  StoredProcedure [dbo].[themThuocTinh]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themThuocTinh] 
	@tenBang VARCHAR(50),
	@ma VARCHAR(10),
	@ten NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
	SET @sql = CASE
		WHEN @tenBang = 'Size' THEN
            'INSERT ' + QUOTENAME(@tenBang) + '(Ma, Size) VALUES (@ma, @ten)'
        ELSE
            'INSERT ' + QUOTENAME(@tenBang) + '(Ma, Ten) VALUES (@ma, @ten)'
	END
    EXEC sp_executesql @sql,
         N'@ma VARCHAR(10), @ten NVARCHAR(50)', @ma, @ten
END
GO
/****** Object:  StoredProcedure [dbo].[update_SPCT]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[update_SPCT]
    @idDanhMuc INT,
    @idXuatXu INT,
    @idNSX INT,
    @idMauSac INT,
    @idSize INT,
    @idSanPham INT,
    @idThuongHieu INT,
    @idChatLieu INT,
    @idDeGiay INT,
    @idCoGiay INT,
    @gia MONEY,
    @soLuong INT,
	@ma varchar(10)
AS 
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 
        'UPDATE San_Pham_Chi_Tiet
		SET IDDanhMuc =@idDanhMuc, IDXuatXu = @idXuatXu, IDNSX = @idNSX, IDMauSac = @idMauSac, IDSize = @idSize, IDSanPham = @idSanPham, 
			IDThuongHieu = @idThuongHieu, IDChatLieu = @idChatLieu, IDDeGiay = @idDeGiay, IDCoGiay = @idCoGiay, Gia = @gia, SoLuongTon =  @soLuong
		WHERE San_Pham_Chi_Tiet.ma = @ma'

    EXEC sp_executesql @sql, 
        N'@idDanhMuc INT, @idXuatXu INT, @idNSX INT, @idMauSac INT, @idSize INT,
           @idSanPham INT, @idThuongHieu INT, @idChatLieu INT, @idDeGiay INT, @idCoGiay INT,
           @gia MONEY, @soLuong INT, @ma varchar(10)',
        @idDanhMuc, @idXuatXu, @idNSX, @idMauSac, @idSize, @idSanPham, 
        @idThuongHieu, @idChatLieu, @idDeGiay, @idCoGiay, @gia, @soLuong, @ma
END
GO
/****** Object:  StoredProcedure [dbo].[updateThuocTinh]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateThuocTinh]
	@tenBang NVARCHAR(50),
	@id INT,
	@ten NVARCHAR(50)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = CASE
        WHEN @tenBang = 'Danh_Muc' THEN
            'UPDATE Danh_Muc SET Ten = @ten WHERE ID = @id'
        WHEN @tenBang = 'Thuong_Hieu' THEN
            'UPDATE Thuong_Hieu SET Ten = @ten WHERE ID = @id'
        WHEN @tenBang = 'Xuat_Xu' THEN
            'UPDATE Xuat_Xu SET Ten = @ten WHERE ID = @id'
        WHEN @tenBang = 'Nha_San_Xuat' THEN
            'UPDATE Nha_San_Xuat SET Ten = @ten WHERE ID = @id'
		WHEN @tenBang = 'Chat_Lieu' THEN
            'UPDATE Chat_Lieu SET Ten = @ten WHERE ID = @id'
		WHEN @tenBang = 'De_Giay' THEN
            'UPDATE De_Giay SET Ten = @ten WHERE ID = @id'
		WHEN @tenBang = 'Co_Giay' THEN
            'UPDATE Co_Giay SET Ten = @ten WHERE ID = @id'
		WHEN @tenBang = 'Size' THEN
            'UPDATE Size SET Size = @ten WHERE ID = @id'
        ELSE
            'SELECT 0'
	END
    EXEC sp_executesql @sql, 
		N'@id INT, @ten NVARCHAR(50)', @id, @ten
END
GO
/****** Object:  StoredProcedure [dbo].[Xoa_SPCT_Khoi_GioHang]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_SPCT_Khoi_GioHang]
    @soLuong INT,
	@IDSPCT INT,
	@MaSPCT VARCHAR(10),
	@IDHD INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
		-- tính lại thành tiên
		UPDATE Hoa_Don_Chi_Tiet SET ThanhTien = 0 WHERE IDSanPhamCT = @IDSPCT

		-- xóa bỏ khỏi giỏ hàng
		DELETE FROM Hoa_Don_Chi_Tiet WHERE IDSanPhamCT = @IDSPCT

		-- tăng số lượng sản phẩm chi tiết trong bảng San_Pham_Chi_Tiet
		UPDATE San_Pham_Chi_Tiet SET SoLuongTon = SoLuongTon + @soLuong WHERE Ma = @MaSPCT

		-- Tính tổng tiền và cập nhật vào hóa đơn
        UPDATE Hoa_Don
        SET TongTien = (
                SELECT SUM(ThanhTien) AS TongTien
                FROM Hoa_Don_Chi_Tiet
                WHERE IDHoaDon = @IDHD
            )
        WHERE ID = @IDHD;
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[xoaThuocTinh]    Script Date: 10-Jan-2024 1:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xoaThuocTinh] 
	@tenBang NVARCHAR(50),
	@id INT,
	@deleted BIT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = CASE
		WHEN @tenBang = 'Danh_Muc' THEN
            'UPDATE Danh_Muc SET Deleted = @deleted WHERE ID = @id'
        WHEN @tenBang = 'Thuong_Hieu' THEN
            'UPDATE Thuong_Hieu SET Deleted = @deleted WHERE ID = @id'
        WHEN @tenBang = 'Xuat_Xu' THEN
            'UPDATE Xuat_Xu SET Deleted = @deleted WHERE ID = @id'
        WHEN @tenBang = 'Nha_San_Xuat' THEN
            'UPDATE Nha_San_Xuat SET Deleted = @deleted WHERE ID = @id'
		WHEN @tenBang = 'Chat_Lieu' THEN
            'UPDATE Chat_Lieu SET Deleted = @deleted WHERE ID = @id'
		WHEN @tenBang = 'De_Giay' THEN
            'UPDATE De_Giay SET Deleted = @deleted WHERE ID = @id'
		WHEN @tenBang = 'Co_Giay' THEN
            'UPDATE Co_Giay SET Deleted = @deleted WHERE ID = @id'
		WHEN @tenBang = 'Size' THEN
            'UPDATE Size SET Deleted = @deleted WHERE ID = @id'
        ELSE
            'SELECT 0'
END
EXEC sp_executesql @sql,
	N'@id INT, @deleted BIT', @id, @deleted
END
GO
USE [master]
GO
